// color
$primary1: #03a9f4;
$primary2: #f75e2e;
$primary3: #ecfa4d;
$primary4:  #656a70;
$base-white: #fff;
$green: #09a912;
$red: #f44747;
$orange: #ffaa33;
$blue: #21a5f8;
// primary1
$p1-lighten-1: lighten($primary1,10%);
$p1-lighten-2: lighten($primary1,20%);
$p1-lighten-3: lighten($primary1,30%);
$p1-darken-1: darken($primary1,10%);
$p1-darken-2: darken($primary1,20%);
$p1-darken-3: darken($primary1,30%);
// primary2
$p2-lighten-1: lighten($primary2,10%);
$p2-lighten-2: lighten($primary2,20%);
$p2-lighten-3: lighten($primary2,30%);
$p2-darken-1: darken($primary2,10%);
$p2-darken-2: darken($primary2,20%);
$p2-darken-3: darken($primary2,30%);
// primary3
$p3-lighten-1: lighten($primary3,10%);
$p3-lighten-2: lighten($primary3,20%);
$p3-lighten-3: lighten($primary3,30%);
$p3-darken-1: darken($primary3,10%);
$p3-darken-2: darken($primary3,20%);
$p3-darken-3: darken($primary3,30%);
// primary4
$p4-lighten-1: lighten($primary4,10%);
$p4-lighten-2: lighten($primary4,20%);
$p4-lighten-3: lighten($primary4,30%);
$p4-darken-1: darken($primary4,10%);
$p4-darken-2: darken($primary4,20%);
$p4-darken-3: darken($primary4,30%);

// font
$Poppins-Medium: 'Poppins-Medium';
$Poppins-SemiBold: 'Poppins-SemiBold';
$Poppins-Bold:'Poppins-Bold';
$Poppins-Regular: 'Poppins-Regular';
